.catalog {
  padding-top: 0;
  padding-bottom: 32px;
  background-image: url("../img/icons-2@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 22px;

  @include retina {
    background-image: url("../img/icons-2@2x.png");
  }

  &__btn {
    width: 60px;
    height: 60px;
    margin: 87px 0;

    background: url("../img/ellipse.svg"), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border-radius: 59px;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }
  }
}
