.contacts {
  padding: 95px 0 85px;
  background-color: $black-1;

  @include mobile {
    padding: 160px 0 150px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 730px;
    margin-top: 60px;

    @include mobile {
      flex-direction: column-reverse;
      margin-top: 75px;
    }
  }

  .section-title,
  .section-subtitle {
    color: $white;
  }
}
