.filter {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  color: #151515;

  max-width: 830px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 46px;


  &__item {
    width: 145px;
    min-height: 55px;
    &:nth-of-type(1),
    &:nth-of-type(2) {
        width: 135px;

        @include mobile {
          width: calc(50% - 10px);
        }
    }

    @include mobile {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }

  }

  &__btn {
    width: 100%;
    min-height: 55px;
    padding: 10px;
    background: linear-gradient(0deg, #ECEEF6, #ECEEF6), #59AAF1;
    border-radius: 45px;

    &:hover {
      background: none;
      background-color: #59AAF1;
      color: $white;
    }
  }
}
