.filter {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  font-weight: 600;
  color: #151515;

  max-width: 830px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 49px;

  &__item {
    &:nth-of-type(1),
    &:nth-of-type(2) {
      .filter__btn {
        width: 135px;
      }
    }
  }

  &__btn {
    width: 145px;
    height: 55px;
    background: linear-gradient(0deg, #ECEEF6, #ECEEF6), #59AAF1;
    border-radius: 45px;

    &:hover {
      background-color: #59AAF1;
      color: $white;
    }
  }
}
