.footer {
  display: flex;
  padding: 130px 214px 120px 204px;

  @include desktop {
    padding: 100px 50px 100px;
    max-width: 1206px;
    flex-wrap: wrap;
  }

  @include mobile {
    flex-direction: column;

    padding: 141px 30px 106px;
  }

  &__map {
    width: 472px;
    height: 247px;
    margin-right: 45px;

    border-radius: 22px;

    @include desktop {
      order: 1;
      flex-grow: 1;
      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include mobile {
      order: 2;
    }
  }


  .contacts-links__list {

    margin: 0 0 55px;
  }

  &__list {
    @include list-reset;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 22px;

    margin: 0 0 31px;


  }

  &__item {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;



    transition: opacity $transition-props;

    &:hover {
      opacity: 0.7;
    }
  }

  .contacts-links__value {
    padding-left: 56px;

    &::before {
      left: 10px;
    }
  }

  &__nav {
    margin-right: auto;
    margin-top: 5px;

    @include desktop {
      order: 2;
      margin: 0 auto 0 0;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      order: 1;
      margin: 0 0 54px;
    }
  }

  .contacts-links {
    margin-top: 16px;

    @include desktop {
      order: 3;
    }

    @include mobile {
      align-items: center;
      flex-direction: column;
      margin-top: 0;
      padding: 25px 18px 25px 0;
    }
  }

  .contacts-social {
    @include mobile {
      padding: 0 75px 0 0;
    }
  }
}
