.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 42px;
  padding-bottom: 42px;

  &__logo {
    width: 95px;
    top: 28px;
  }

  &__author {
    position: relative;
    padding-right: 4px;

    span {
      font-weight: 700;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0px;
      bottom: 2px;
      width: 3px;
      height: 3px;
      background-color: #E45759;
      border-radius: 50%;
    }
  }
}
