.menu {
  @include list-reset;

  display: grid;
  column-gap: 40px;
  row-gap: 14px;
  grid-template-columns: repeat(4, 1fr);


  &__image {
    width: 210px;
    height: 213px;

    margin-left: 20px;
    margin-bottom: 2px;
  }

  &__icon {
    display: none;
    position: absolute;
    top: 21px;
    left: 17px;

    font-weight: 600;
    font-size: 12px;

    width: 60px;
    height: 25px;
    background: linear-gradient(116.88deg, #FE3326 -4.28%, #F26E0E 112.69%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
    border-radius: 3px;
    color: $white;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 27px 13px 40px 23px;

    border: 2px solid transparent;
    border-radius: 15px;
    background-color: $white;
    background-image: url("../img/rectangle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;

    margin: 3px 0 0;
  }

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__size {
    font-size: 12px;
  }

  &__subtitle {
    font-size: 12px;
    line-height: 140%;
    margin: 10px 0;
  }

  &__price {
    font-weight: 300;
    font-size: 24px;

    align-self: center;
    margin: 17px 11px 17px 0;
  }

  &__basket {
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 33px;
    height: 33px;
    border: 2px solid #ECEEF6;
    border-radius: 59px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;


    &:hover {
      background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
      box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
      background: url("../img/icon-basket-white.svg"), linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%), linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
      background-repeat: no-repeat, no-repeat;
      background-size: auto;
      background-position: center, center;
      border: none;

      svg {
        display: none;
      }
    }
  }

  &__angle {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    background-color: $white;

    width: 100px;
    height: 100px;

    border: 2px solid #ECEEF7;
    border-radius: 15px;

    z-index: -1;
  }

}


.menu__item.hit {
  .menu__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
