.section-title {
  font-size: 46px;
  line-height: 57px;
  letter-spacing: 0.2px;
  font-weight: normal;

  margin: 0 0 27px;
  max-width: 296px;

  color: $black-1;
  text-align: center;

  &--mobile {
    display: none;

    @include mobile {
      display: block;
      margin-bottom: 37px;
      margin-top: 10px;
    }
  }

  &--desktop {
    @include mobile {
      display: none;
    }
  }
}
