$desktop-l: 1439px;
$desktop-m: 1023px;
$tablet-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font: "Roboto", "Arial", sans-serif;

$transition-props: 0.2s ease;

$black-1: #252b42;
$black-2: #374754;
$white: #ffffff;
$blue: #38a3f1;
$red: #ef2779;


$gradient: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
